.p_paragraph {
    font-size: 75px;
    margin-top: 2vh;
    margin-bottom: 5vh;
    color: brown;
    text-align: center;
    text-shadow: 8px 8px 8px #3d3d3d;
}
.container-one {
    transition: transform .2s;
    /* Animation */
    margin: 0 auto;
    width: 70%;
    text-align: center;
  
}

.container-one:hover{
    transform: scale(1.5);
    width: 70%;    
    /* zoom on hover */
    
}

.container-one:hover .hidden_img {
    display: block;
    width: auto;
}
.container-one .hidden_img {
    position:absolute;
    top:50%;
    left:50%;
    display:none;
}